@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #ede5d5;;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  height: 17%;
  width: 100%;
  font-size: large;
  margin-top: 5%;
}

a:link {
  color: #2f232a;
  background-color: transparent;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#main-navbar {
  height: 15%;
  /* margin-bottom: 10%; */
  
}

/* .navbar navbar-custom {
  background-color: aqua;
} */

.bg-myRed {
  background-color: #ede5d5;
}

/* .product-display {
  margin-top: 200%;
} */

.border-myborder {
  borderColor: rgb(255, 0, 170);
}